In [4]:
x=100
print(x)

100

In [5]:
x,y=1,2
print(y)

2

In [6]:
carname="Volvo"
print(carname)

Volvo

In [7]:
a=10//5
print(a)

2

In [9]:
a=6
b=6.2
c=2j
print(a)
print(b)
print(c)

6
6.2
2j

In [10]:
q=6
w=9
print(q and w)

9

In [13]:
a='Abcd'
print(type(a))
print(len(a))

<class 'str'>
4

In [ ]:
h=input("Enter Value")
print(h)

In [47]:
c="string slicing"
print(c[3:6])
print(c[4:10])
print(c[:])
print(c[7:])
print(c[-9:-3])
print(c[2:10:2])

ing
ng sli
string slicing
slicing
g slic
rn l

In [2]:
h=input("Enter Value:")
print(h)

Enter Value:huu
huu

In [3]:
h=int(input("Enter Value 1:"))
g=int(input("Enter Value 2:"))
sum=h+g
print("Sum: ",sum)

Enter Value 1:5
Enter Value 2:5
Sum:  10

In [4]:
num=int(input("Enter Number :"))
l=num % 10
print(l)

Enter Number :534
4

In [6]:
h=int(input("Enter Value 1:"))
g=int(input("Enter Value 2:"))
o=int(input("Enter Value 2:"))
ag=(h+g+o)/3
print(ag)

Enter Value 1:10
Enter Value 2:20
Enter Value 2:30
20.0

In [8]:
h=input("Enter Value 1:")
g=input("Enter Value 2:")
f=h +" "+ g
print(f)

Enter Value 1:hello
Enter Value 2:12
hello 12

In [13]:
h=input("Enter Value 1:")
g=h * 5
print(g)

Enter Value 1:hi
hi hi hi hi hi

In [18]:
name=input("Enter Value 1:")
d="P"+ name[1:]
print(d)
print(id(name)==id(d))
# print(id(d))

Enter Value 1:Sam
Pam
False

In [26]:
name=input("Enter Value:")
# u=name.upper()
# r=name.split("s")
st=name.strip()
print(st)

Enter Value:hi hello by
hi hello by

In [2]:
n=14
if n%7==0:
    print("Divsible")
else:
    print('Not Divisible')

Divsible

In [6]:
n=int(input('Enter Age='))
if n==18 or n > 18:
    print("Eligible")
else:
    print('Not Eligible')

Enter Age=18
Eligible

In [7]:
n=int(input('Enter Number='))
if n==0:
    print("zero")
elif n < 0:
    print("Negative ")
else:
    print("Positive")

Enter Number=-5
Negative

In [ ]:
n1=int(input('Enter Number 1='))
n2=int(input('Enter Number 2='))
n2=int(input('Enter Number 3='))
if n1>n2 and n1>n3:
    print(n1)
elif n2>n1:
    print("Negative ")
else:
    print("Positive")

In [14]:
a=5
b=5
print(a>b and b<a)

False

In [15]:
# Dictionary 

dict={
    'name':'amjad',
    'age':10,
}
print(dict["age"])


# length
print(len(dict))

#change value 
dict['name']='V K'
print(dict)

#print all keys
for i in dict:
    print(i)


#print all values
for i in dict:
    print(dict[i])

for x,y in dict.items():
    print(x,y)
    
# add new value 
dict["place"]='CLT'
print(dict)

dict.pop('age')
print(dict)

# delete dictionary 
dict.clear()
dict.empty()
print(dict)


dict["place"]='CLT'
print(dict)

10
2
{'name': 'V K', 'age': 10}
name
age
V K
10
name V K
age 10
{'name': 'V K', 'age': 10, 'place': 'CLT'}
{'name': 'V K', 'place': 'CLT'}

AttributeError: 'dict' object has no attribute 'empty'

In [18]:
dict={
    'name':'amjad',
    'age':10,
}
dict["age"]='CLT'

print(dict)

{'name': 'amjad', 'age': 'CLT'}